{% extends "base_adm.html" %}
{% block title %} Login {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3 d-flex justify-content-center align-items-center min-vw-auto flex-column">
            <div class="card w-100">
                <form method="post" id="login-form">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="card-header">
                        <h2>Iniciar sesión</h2>
                    </div>
                    <div class="card-body">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="correo" name="correo" placeholder="prueba@prueba.com">
                            <label for="correo">Correo</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" class="form-control" id="contrasena" name="contrasena" placeholder="Contraseña">
                            <label for="contrasena">Contraseña</label>
                        </div>
        
                    </div>
                    <div class="card-footer text-end">
                        <input type="submit" class="btn btn-success" value="Iniciar Sesion" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    

</div>
{% endblock %}
{% block scripts %}
<script>
    const form = document.querySelector("#login-form");
    form.addEventListener('submit', async event => {
        event.preventDefault();
        const data = new FormData(form);
        try {
            const res = await fetch(
                form.action,
                {
                    method: 'POST',
                    body: data,
                },
            );
            const resData = await res.json();
            if(resData.success){
                alert(resData.message);
                window.open('/admin','_self');
            }
            else{
                alert(resData.error);
            }
        } catch (errData) {
            alert(errData.error);
        }
    });

</script>
{% endblock %}